# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../:\jeffe\Documents\Programming\rocket\driver-regmaps\.idea/dataSources/
/dataSources.local.xml
